{% extends  'Shop/basic.html' %}

{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MyShopsy</h1>
      <p>Welcome to MyShopsy, your one-stop destination for all your shopping needs! At MyShopsy, we are dedicated to
        providing you with a seamless and enjoyable shopping experience. Our extensive range of products includes the
        latest fashion, cutting-edge electronics, unique home decor, and much more. We pride ourselves on offering
        high-quality items at competitive prices, ensuring that you get the best value for your money.
        Our mission is to make online shopping convenient and accessible for everyone. With a user-friendly website,
        secure payment options, and fast, reliable shipping, we strive to meet and exceed your expectations. Our
        dedicated customer support team is always ready to assist you, ensuring that your shopping journey with us is
        nothing short of exceptional.
        Discover the joy of shopping at MyShopsy, where quality meets affordability and customer satisfaction is our top
        priority. Thank you for choosing MyShopsy as your preferred shopping destination!
        .</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo; </a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>E-commerce</h2>
        <p>E-commerce typically uses the web for at least a part of a transaction's life cycle although it may also use other technologies such as e-mail. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Mobile commerce</h2>
        <p>Mobile devices are playing an increasing role in the mix of e-commerce, this is also commonly called mobile commerce, or m-commerce.. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Online market</h2>
        <p>Logistics in e-commerce mainly concerns fulfillment. Online markets and retailers have to find the best possible way to fill orders and deliver products.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>


{% endblock %}